<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Structuring Your <em> Meal Times</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>                       
                        <li><strong>7:00 A.M.</strong> Everyone's heard that they should drink at least eight glasses
                        of water daily. Actually, that's wrong. If you exercise on a regular basis,
                        you need at least two or three times that on a daily basis. Mild dehydration
                        is probably the single most common cause of feeling weak and tired. So
                        before you even think about getting dressed, grab a big cup, fill it up with
                        water, and chug it down</li>
                       <li><strong>8:15 A.M.</strong> Eat a breakfast that contains complex carbohydrates and a
                        small amount of protein. These more rapidly will be converted into blood
                        glucose than will be protein and fat. Realize as you eat your breakfast that
                        you are putting fuel into your body to enable you to make it through lunch.
                        Your options would include a bagel, fruit, or a bowl of cereal. Oatmeal,
                        grits, and even a stack of three pancakes will work as well, provided that
                        you ease up on the butter and syrup. If you wash it down with a glass of
                        orange juice, you'll be in good shape.</li>
                       <li><strong>10:00 A.M.</strong> It's time for a break, and you're feeling a little hungry. Stay
                        away from the vending machine, which dispenses junk food. Instead, walk
                        down to the cafeteria, and get a container of non-fat yogurt. This will
                        provide you with protein to help build muscle. You don't want too much
                        protein, or else it will be converted into fat. </li>
                       <li><strong>11:00 A.M.</strong> That protein you consumed an hour earlier needs water in order
                        for it properly to be utilized by the body. If you eat protein without water, it
                        could put a bit of a strain on your kidneys and liver. Not only that, but the fluid
                        will help prevent dehydration, which is a primary cause of weakness and
                        fatigue. This also would be a good time to eat a banana, which not only is a
                        very good source of carbohydrate, but also of potassium, which helps keep
                        your body fluids in a state of good balance.</li>
                       <li><strong>11:30 A.M.</strong> Time for a coffee break. Remember that caffeine is a stimulant,
                        and high dosages potentially can be harmful. But some research findings do
                        indicate that the amount of caffeine in two strong cups of coffee (which, by the
                        way, would be about 200 mg. of caffeine) actually may help you burn more fat
                        when you exercise. This is based upon data from Wichita State University. It
                        does this by stimulating an increase in the levels of fatty acids circulating in
                        the blood. There's also evidence from McMaster University in Ontario that a
                        little caffeine may make you work a bit harder in the gym, enabling you to get
                        more benefit from your workouts. By decreasing fatigue, you're able to last
                        longer. But realize that excessive caffeine also can affect your cardiovascular
                        system in adverse ways. But forget this regimen if you already are consuming
                        six to eight cups of coffee each day just to survive. That extra caffeine that
                        you're putting into your body isn't going to do any good at all.</li>
                       <li><strong>Noon.</strong> Time for a workout. But remember that for every 20 minutes of
                        exercise, you need between four to six ounces of water. And remember that if
                        the water is cool, it will be absorbed much faster than if it's warm.</li>
                       <li><strong>1:30 P.M.</strong> Time for a 30 minute lunch. You need at least 100 calories in the
                        form of carbohydrate, which is precisely what your body is screaming for right
                        now. Especially after a workout, which is when you need to replenish the
                        glycogen stores that you have been using up. So look for a pasta salad or
                        baked potato or rice. If you order a sandwich, make sure it's made with whole
                        wheat bread. Remember that my philosophy is predicated upon energy
                        expenditure followed by recovery. You need that carbohydrate in order to get
                        maximal recovery. And don't forget to mix a little protein in your lunch as well.
                        This will help to build up new muscle as well as keep you alert. That means
                        some low-fat cottage cheese or, perhaps, a slice of turkey or chicken in that
                        sandwich.</li>
                       <li><strong>4:00 P.M.</strong> There's a natural biological rhythm in the body that causes your
                        blood sugar to drop in the afternoon. If your work situation allows it, try to get
                        a little exercise. Climb a flight of stairs or, even better, walk outside and
                        expose yourself to a little sunlight. The sunlight will help with the production of
                        vitamin D, which your body needs in order to strengthen bone. You'll also rev
                        up your cortisol, which will provide you with a source of energy because this is
                        the steroid that converts stored energy into usable glucose. Then have a
                        small snack--low-fat yogurt, a slice of cheddar cheese, or, perhaps, some
                        skim milk. This will provide you with some protein again to help build up your
                        muscles.</li>
                       <li><strong>6:30 P.M.</strong> It's now time for a well-earned dinner. Start with a salad. Spinach is
                        good, and, while you're at it, add a few sunflower seeds or walnuts and then
                        pour a little olive oil vinaigrette on. You are adding a little fat to your diet, but
                        you're also giving yourself a pretty good dose of vitamin E. This natural
                        antioxidant not only helps to neutralize free radicals, but it helps the body to
                        better utilize oxygen. There are lots of options for healthy eating, but you
                        might want to consider some stir-fried beef with broccoli and green peppers.
                        Beef is an excellent source of protein, and a three-ounce serving will give you
                        more than 40% of the RDA of vitamin B12. This vitamin helps to burn off fat
                        and gives rise to red blood cells, which will help with your endurance. The
                        broccoli will provide 120% of the RDA for vitamin C, while a single green
                        pepper will provide another 90%. That vitamin C not only will help neutralize
                        free radicals, it will help reduce the inflammation that often occurs if you
                        exercise excessively. Finally, add a potato. It's an excellent source of complex
                        carbohydrate, and it also contains more vitamin C, as well as potassium and
                        iron. If it happens to be a sweet potato, it will give you a pretty good dose of
                        beta-carotene, which is another antioxidant.</li>
                       <li><strong>9:00 P.M.</strong> It's time for a snack or, if you prefer, you might just want to call it
                        dessert. Frozen yogurt might work, or have a fruit bar. These are good
                        sources of carbohydrate, which, ultimately, will help facilitate your falling
                        asleep.</li>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
